.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 100px;
    background-color: rgb(245, 245, 245);
    
    margin: 0 auto; 
    max-width: 1400px; 
    
}
