/* destinationItems.module.css */

.destinationItem {
    position: relative;
    width: 100%; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; 
  }
  
  .destinationItem:hover {
    transform: translateY(-3px) scale(1.05);
  }
  
  .destinationImage {
    width: 100%; 
    height: 450px; 
    object-fit: cover; 
    display: block;
    border-radius: 10px; 
  }
  
  .destinationText {
    text-align: center;
    padding: 10px; 
  }
  
  .destinationText h2 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
  }
  